<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>看我看我</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>看我看我</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>看我首页</a>
            </li>
            <li>
                <a href="#activities" onclick=$("#menu-close").click();>看我活动</a>
            </li>
            <li>
                <a href="#partner" onclick=$("#menu-close").click();>看我课堂</a>
            </li>
            <li>
                <a href="#schools" onclick=$("#menu-close").click();>看我校园</a>
            </li>
            <li>
                <a href="#faq" onclick=$("#menu-close").click();>FAQ</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>关于我们</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>联系我们</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>看我看我</h1>
            <h3>新一代留学服务平台</h3>
            <br>
            <a href="#about" class="btn btn-lg" style="color:#fff; background-color:#45bbac">更多内容</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>为您出国留学提供全方位解决方案！</h2>
                    <p class="lead text-left">看我看我是一个为留学服务业创造价值的平台，它将多媒体客制化、智能匹配、直播互动的技术优势与行业资源、意见领袖资源、名校资源整合，解决传统留学服务行业信息不透明，不对称的痛点，促进留学生态系统的良性运转。</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services" style="color:#fff; background-color:#45bbac">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>我们的服务</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-thumbs-o-up fa-stack-1x" style="color:#45bbac"></i>
                            </span>
                                <h4>
                                    <strong>背景提升</strong>
                                </h4>
                                <p class="text-left">独家整合优质活动资源并统一报名流程，为学生提供各个学科，针对各个年级的优质活动和院校资源，项目特色一目了然，不仅免除额外费用，还有独家优惠。</p>
                                <a href="#" class="btn btn-light">更多</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x" style="color:#45bbac"></i>
                            </span>
                                <h4>
                                    <strong>视频简历</strong>
                                </h4>
                                <p class="text-left">免费帮助学生创造个性化多媒体简历，通过视频，图片和文字的方式，让学生给招生官呈现的不仅仅是考试分数和冷冰冰的文字，大幅度提升被录取几率。</p>
                                <a href="#" class="btn btn-light">更多</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-database fa-stack-1x" style="color:#45bbac"></i>
                            </span>
                                <h4>
                                    <strong>院校数据</strong>
                                </h4>
                                <p class="text-left">提供全面详实的中文院校库，并提供实时招生信息更新和视频介绍，帮助学生和家长把握申请形势，全方位了解别处找不到的学校和院校特色。</p>
                                <a href="#" class="btn btn-light">更多</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-desktop fa-stack-1x" style="color:#45bbac"></i>
                            </span>
                                <h4>
                                    <strong>视频直播</strong>
                                </h4>
                                <p class="text-left">招生宣讲、活动介绍、职业规划、文书写作、校友分享、备考课程，你能想到的和留学相关的事情我们都会邀请超级棒的老师进行直播互动。</p>
                                <a href="#" class="btn btn-light">更多</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>加入【看我看我】，让世界看到你！</h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>我们的活动</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/activities_cis.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/activities_minerva.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/activities_ggxx.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/activities_lanpa.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">更多活动</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action" style="color:#fff; background-color:#45bbac">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关注我们</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/kanwokanwocom_qr.jpg">
                                <p>看我看我公众号二维码</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="img/ilovekanwokanwo_qr.jpeg">
                                <p>看我看我客服二维码</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>看我看我</strong>
                    </h4>
                    <p>北京市海淀区北三环西路64号院</p>
                    <ul class="list-unstyled">
                        <li><p><i class="fa fa-phone fa-fw"></i> (010) 5292-8288转8018</li></p>
                        <li><p><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:jishankai@kanwokanwo.com">jishankai@kanwokanwo.com</a></p>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-weixin fa-fw fa-2x" style="color:#45bbac"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-weibo fa-fw fa-2x" style="color:#45bbac"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-qq fa-fw fa-2x" style="color:#45bbac"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; 北京看我看我科技有限责任公司 2017</p>
                    <p class="text-muted small">京ICP备14049391号-1</p>
                 </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
